<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div>
        <h1>Email verification</h1>
        <p><b>Hi {{name}},</b><br>

            We just need to verify your email address before you can access your account.<br>
            
            Verify your email address.<br>
            
            Thanks! &#8211; The amirhosss team<br>
        </p>
        <a href="{{verification_link}}"><button>Verify your email</button></a>
    </div>
</body>
<style>
    *{
        box-sizing: border-box;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f4f4f4;
    }
    div{
        height: 85vh;
        width: 65vh;
        background-color: #ffffff;
        border-radius: 20px;
    }
    h1{
        margin: 15% 0 20% 0;
        text-align: center;
    }
    p{
        font-size: 1.2em;
        text-align: center;
    }
    a{
        display: flex;
        justify-content: center;
        margin: 15% auto;
        text-decoration: none;
    }
    button{
        height: 40px;
        width: 120px;
        background-color: #007af3;
        border: none;
        border-radius: 5px;
        color: #f4f4f4;
    }
</style>
</html>